:root {
    --header: #000; /* para el header */
    --background: #201f1f; /* para el background */
    --card: #0B0B0B; /* para los cards con la informacion*/
    --details: #78D3CF; /* para los detalles de los botones y demas */
    --hover: #06635F; /* para el hover de los botones */
    --font: #fff; /* para el font*/
    --error: #c10707; /* para los mensajes de error */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    color: var(--font);
}

body {
    background-color: var(--background);
}

/* Estilos para el Header */

header {
    background-color: var(--header);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

header a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1em;
}

nav a{
    color: var(--font);
    text-decoration: none;
}

header a:hover{
    color: var(--details);
}


/* Estilos para el Footer */

footer {
    background-color: var(--header);
    width: 100%;
    margin-top: auto;
    /* padding: 20px; */
}

#footer-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

#footer-name h2{
    margin-bottom: 10px;
}

footer a:hover{
    color: var(--details)
}

#authors-info {
    text-align: center;
    padding: 20px;
}

hr {
    border: none;
    border-top: 2px solid var(--background);
}

/* Estilos para el para la pagina inicial */

#home-view {
    background-image: url(images/edificios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    align-content: center;
    text-align: center;
}

#home-view h1 {
    margin: 25px;
}

#home-button {
    background-color: var(--details);
}

.button {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--details);
}
.button:hover {
    background-color: var(--details);
}

#home-button:hover {
    background-color: var(--hover);
}

/* Estilo para la informacion de las opurtunidades en la pagina principal */

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    padding: 10px;
}

#opportunities-info {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

#opportunities-info a {
    text-decoration: none;
}

.opportunity-info-card {
    background-color: var(--card);
    width: 300px;
    min-height: 350px;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.opportunity-info-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px var(--details);
}
.opportunity-info-card p {
    padding: 10px;
}

/* Estilo para la pagina de perfil de los contribuyentes */

main{
    
    margin: auto;
    padding: 20px 0;
}

h1 , h2{
    text-align: center;
    padding: 20px;
}

#profile {
    width: 50%;
    margin: auto;
}

.profile-info {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

input, select{
    max-width: 300px;
    min-width: 300px;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    background-color: var(--font);
    color: var(--header)
}

label {
    padding: 10px 0;
    font-weight: bold;
}

.profile-info div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#profile a {
    display: inline-block;
    margin: 20px 0;
}

/* Estilo para las oportunidades del perfil */

#profile-opportunities {
    width: 50%;
    margin: auto;
    padding: 30px 0;
}

#profile-opportunities h2 {
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
}

#profile-opportunities h3 {
    padding: 0;
}

#profile-opportunities img{
    width: 25px;
}

#profile-opportunities a{
    text-align: right;
}

.profile-opportunity-card {
    background-color: var(--card);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0;
    text-align: left;
}

.profile-opportunity-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px var(--details);
}

.opportunity-options {
    display: flex;
    gap: 15px;
}
#profile-opportunities-info {
    text-align: right;
}

/* Estilos de la pagina editar perfil */
#profile-edit-container{
    background-color: var(--background);
    min-height: 70vh;
    max-height: 200vh;
}

#edit-profile-form{
    width: 50%;
    margin: auto;
    align-content: center;
    min-height: 40vh;
    max-height: 70vh;
}
#edit-profile-form #save-button{
    margin-top: 20px;
}
input.button {
    color: var(--font);
}

/* Estilos para añadir o editar una oportunidad */
#add-edit-opportunity {
    width: 53%;
    margin: 20px auto;
    padding: 40px;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
#opportunity-info-form div {
    display: flex;
    flex-direction: column;
}

#opportunity-info-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--card);
}
textarea#description{
    border-radius: 20px;
    color: var(--header);
    padding: 5px 15px;
    border: none;
}
#description-instruction {
    margin: 20px 0;
}
#description-instruction li{
    margin-left: 20px;
}
.submit-button{
    max-width: 100px;
    min-width: 100px;
    margin: auto;
    margin-top: 10px;
}
.submit-button-img {
    background-color: transparent;
    border: none;
}

/* Mensajes de error */
.error-message {
    color: var(--error);
}


.opportunity-attachment {
    display:  flex;
    gap: 10px;
    list-style: none;
    padding: 5px 0;
}
#attach-delete {
    color: var(--details);
    background-color: transparent;
    border: none;
}
#attach-delete:hover {
    color: var(--hover);
}
.opportunity-attachment a{
    text-decoration: none;
}
.opportunity-attachment a:hover{
    color: #c4c2c2;
}










/* Estilos para el ADMIN */

/* Estilos para la pagina de inicio */
#menu-options{
    display: flex;
    width: 60%;
    margin: 40px auto;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.menu-card{
    background-color: var(--card);
    border-radius: 20px;
    min-width: 350px;
    text-align: center;
    min-height: 40vh;
}
#menu-options a{
    text-decoration: none;
}
.menu-card:hover{
    box-shadow: 0px 0px 10px var(--details);
}
.menu-card img {
    width: 180px;
}