body {
    background-color: #0f0f0f;
}

/* Seccion */
.section {
    text-align: center;
    padding: 90px 0;
    background: #0f0f0f;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


.title {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Texto */
.text {
    font-size: 24px;
    margin-bottom: 70px;
}

/* Caja del formulario */
.form-box {
    margin: 0 auto;
    padding: 50px;
    width: 65%;
    background: #0c0c0c;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}


.form-box label {
    font-size: 22px;
}


.form-box input {
    width: 80%;
    max-width: 620px;
    padding: 14px 20px;
    border-radius: 30px;
    border: none;
    background: #dedede;
    font-size: 18px;
    outline: none;
}


.btn-main {
    padding: 10px 26px;
    border-radius: 20px;
    border: 2px solid #79dbd3;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    width: 180px;
    text-align: center;
}


.btn-main:hover {
    background-color: #79dbd3;
    color: #000;
    border-color: #79dbd3;
    transform: scale(1.05);
}

/* Wrapper */
.dropdown-wrapper {
    position: relative;
    display: inline-block;
}


.btn-cancel {
    position: absolute;
    top: 60px;
    
  

    width: 180px;

    display: none;
    padding: 10px 26px;
    border-radius: 20px;
    border: 2px solid #79dbd3;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    text-decoration: none;
    /* white-space: nowrap; */
    z-index: 10;
    font-size: clamp(10px, 2vw, 20px);
    overflow: hidden;
}


.btn-cancel:hover {
    background-color: #79dbd3;
    color: #000;
    border-color: #79dbd3;
    transform: scale(1.05);
}


.dropdown-wrapper:hover .btn-cancel {
    display: block;
    animation: fadeIn 0.20s ease-out;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to   { opacity: 1; transform: translateY(0); }
}
